* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #faf0fe;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px  50px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

header img.logo {
  position: relative  ;
  top: 0;
  left: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* === MENU PC (> 900px) === */
.navbar ul {
  display: flex;
gap: 2rem;
  list-style: none;
}

.navbar a {
  color: #3a3d3a;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #e6f7e6;
  color: #228B22;
}

.navbar .hamburger {
  display: none;
}

/* === MENU MOBILE (< 900px) === */
@media (max-width: 900px) {
  .navbar .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;  
    background: #353738;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    z-index: 100;
  }

  .navbar .hamburger:hover {
    background: #ffffff;
    color: #353738;
  }

  .navbar ul {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px ;
    height: 100vh;  
    background: white;
    flex-direction: column;
    border-radius: 15px;
    padding:   90px 0px;
    z-index: 99;
    box-shadow:-5px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.3 ease  ;
  }

  .navbar ul.active {
    right: 0;
  }

  .navbar a {
  color: #3a3d3a;
  font-weight: bold;
  padding:  18px  20px;
 border-radius: 18px;


  transition: 0.3s;
  }

  .navbar a:hover {
    background-color: #bfc5bf;
    color: #228B22;
    border-radius: 12px;
   
  }

  header img.logo {
    width: 100px;
    height: 100px;
  }

  hr {
    display: none;
  }
}

    /* Overlay */
    .overlay {
      display: none;
      position:static;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 98;
    }
